<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleIdentifier</key>
    <string>dev.soundbridge.examples.tonewheel.au</string>
    <key>CFBundleName</key>
    <string>SoundBridge Example Tonewheel</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleExecutable</key>
    <string>soundbridge-example-tonewheel</string>
    <key>SoundBridgeExamplePlugin</key>
    <true/>
  </dict>
</plist>
